<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oliver Lear Software</title>
    <link rel="stylesheet" href="../static/home-style.css">
    <link rel="stylesheet" href="../static/global-style.css">
</head>
<body>
<header>
    <section>
        <nav>
            <ul>
                <li><h4>Example Nav</h4></li>
                <li><h4>Example Nav</h4></li>
                <li><h4>Example Nav</h4></li>
                <li><h4>Example Nav</h4></li>
            </ul>
        </nav>
    </section>
</header>
<section id="name-title-section">
    <h1 id="">Oliver Lear Software</h1>
    <img id="oliver-lear-title-logo" src="../static/images/oliver_lear_logo.png" alt="oliver lear logo">
    <!--        <h3>Tag about my skills and site</h3>-->
</section>
<main>
    <section id="promo-section">
        <!--            <h2>What I do</h2>-->
        <section class="promo-container" id="programs-people-need-section">
            <h2>Build Programs People Need</h2>
            <div id="programs-people-need-item-container" class="specific-promo-container">
                <div>
                    <h3>Crypto Trader</h3>
                    <img class="promo-img" src="../static/images/crypto_logo.svg"
                         alt="crypto trader">
                </div>
                <div>
                    <h3>Oliver's Additions</h3>
                    <img class="promo-img" src="../static/images/minecraft_block.webp"
                         alt="minecraft block">
                </div>
                <div>
                    <h3>Dota Data Hub</h3>
                    <img class="promo-img" src="../static/images/dota_data_logo.png"
                         alt="dota data hub">
                </div>
            </div>
        </section>
        <section id="design-web-apps-section" class="promo-container">
            <h2>Design web apps</h2>
            <div id="design-web-apps-container" class="specific-promo-container">
                <div>
                    <h3>Random API</h3>
                    <img class="promo-img" src="../static/images/random_api_logo.png"
                         alt="random api">
                </div>
                <div>
                    <h3>Oliver Lear Software</h3>
                    <img class="promo-img" src="../static/images/oliver_lear_logo.png"
                         alt="oliver lear software" id="oliver-lear-logo-promo-img">
                </div>
            </div>
            <h2>Stylize my work</h2>
            <div id="stylize-work-container" class="specific-promo-container">
                <div>
                    <h3>Style Guide</h3>
                    <img class="promo-img" src="../static/images/style_guide_logo.png"
                         alt="style guide">
                </div>

            </div>
        </section>
    </section>
</main>
</body>
</html>