//=================================-Imports-==================================
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";
@import "../../app/app.component";

$nav-bar-height: calc-size(6, 3, 2);

nav-bar {
    height: $nav-bar-height;
    background: linear-gradient(to bottom, $charcoal 110%, $deep-midnight-blue 50%);
    width: 100%;
    @include flex(center, center, row);
    position: relative;
    z-index: 10;
    nav {
        @include flex(space-around, center, row);
        width: 50%;
    }
}