@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

home {
    //@extend %nav-bar-padding-top;
    @include flex(center, center, column);
    main {
        @include flex(center, center, column);
        @extend %fill-container;
    }
    #intro-section {
        width: 100%;
        @include flex(center, center, column);
        #intro-title-with-code {
            width: 100%;
            @include flex(space-between, center, row);
            typing-text {
                margin: 0 0 0 $four-percent;
                float: left;
                color: $pristine-white;
                //text-shadow: 0 0 1em $charcoal;
                background-color: $bright-sunset;
                width: 100%;
                padding: $one-percent;
                max-width: 45vw;
                flex-wrap: wrap;
                flex: 0 0 30%;
                @extend %console-box-shadow;
                @extend %soft-border-radius;
            }
            ss-code {
                margin: 0 $four-percent 0 0;
                width: $twenty-five-percent;
                flex: 0 0 30%;
            }
        }
        #intro-messages-div {
            @include flex(space-around, center, row);
            fade-in-content {
                width: 45%;
                message-bubble {
                    width: 100%;
                    profile-picture {
                        box-sizing: border-box;
                        border: $thin-border solid $sandstone;
                    }
                }
            }
        }
        user-choice-bubble {
            position: absolute;
            bottom: 0;
            right: $one-percent;
        }
    }
}
//=================================-Imports-==================================

//==================================-Styles-==================================

//----------------------------Introduction-Section----------------------------
#introduction-section {
    width: 100%;
    margin: $one-half-percent $zero $zero $zero;
    color: $pristine-white;
    @include flex(center, center, column);
    //-------------------------Introduction-Title-----------------------------
    #title-div {
        width: 70%;
        border-radius: $one-percent;
        margin: $zero $zero $one-half-percent $zero;
        @include flex(center, center, row);
        padding: $one-percent $two-percent;
        background-color: $apricot-glow;
        //------------------Introduction-Title-Text---------------------------
        #title-text {
            text-align: center;
            text-decoration: underline;
            color: $charcoal;
        }
        .blinking-cursor {
            font-size: $h2-font-size;
            animation: blink 1s infinite;
        }
        .title-curly-brace {
            text-decoration: none;
            font-size: $h1-font-size;
            color: $charcoal;
        }
    }
    #logo-with-text {
        @include flex(center, center, row);
        width: 100%;
        #intro-logo-div {
            @extend %console-box-shadow;
            margin: $zero $three-percent;
            @include size($twelve-percent, $twelve-percent);
            @include flex(center, center, row);

            border-radius: $one-percent;
            img {
                border-radius: inherit;
                @include size(100%, 100%);
            }
        }
        #intro-text-div {
            width: 50%;
            @include flex(center, center, column);
            #intro-headline-div {
                margin: $zero $zero $one-percent $zero;
            }
            p {

            }
        }
    }
}
//--------------------------------Join-Section--------------------------------
#join-section {
    width: 100%;
    margin: $one-half-percent $zero;
    color: $pristine-white;
    @include flex(center, center, column);
    //-----------------------------Join-Title---------------------------------
    #join-title-div {
        margin: 0 0 $one-percent 0;
    }

}
//================================-Animations-================================

//==============================-Media-Queries-===============================

//-------------------------Width-750-Pixels-And-Below-------------------------
@media screen and (max-width: 750px) {
    #introduction-section {
        #title-div {
            #title-text {
                //font-size: $h2-font-size;
            }
        }
    }
    #title-blinking-cursor {
        display: none;
    }
}