/*-----------------------------Previous-Colors------------------------------*/
$pristine-white: hsl(0, 0%, 100%);
$soft-silver-gray: hsl(0, 0%, 75%);
$peach-cream-orange: hsl(30, 44%, 70%);
$aquamarine: hsl(196, 100%, 50%);
$oceans-depths-teal: hsl(194, 94%, 26%);
$transparent-oceans-depths-teal: hsla(194, 94%, 26%, 0.7);
$charcoal-dust: hsl(0, 3%, 14%);
$transparent-charcoal-dust: hsla(0, 3%, 14%, 0.9);
$absolute-black: hsl(0, 0%, 0%);
$less-muddy-white: hsl(43, 6%, 90%);
$muddy-white: hsl(43, 6%, 79%);
$transparent-muddy-white: hsla(43, 6%, 79%, 0.85);
/*----------------------------------Colors----------------------------------*/
$white: hsl(0, 0%, 100%);
$less-smokey-white: hsl(0, 0%, 97%);
$smokey-white: hsl(0, 0%, 95%);
$grey: hsl(0, 0%, 83%);
$cream: hsl(60, 56%, 91%);
$soft-teal: hsl(210, 13%, 50%);
$soft-blue: hsl(207, 44%, 49%);
$pure-blue: hsl(211, 100%, 35%);
$midnight-blue: hsl(216, 26%, 24%);
$charcoal-black: hsl(0, 0%, 20%);
$black: hsl(0, 0%, 2%);
/*---------------------------------Borders----------------------------------*/
$very-thin-border: calc(((0.05vw + 0.05vh) / 2) + 0.05em);
$thin-border: calc(((0.1vw + 0.1vh) / 2) + 0.1em);
/*----------------------------------Sizes-----------------------------------*/
$none: 0;
$eighth-percent: calc(((0.125vw + 0.125vh) / 2) + 0.0625em);
$quarter-percent: calc(((0.25vw + 0.25vh) / 2) + 0.125em);
$half-percent: calc(((0.5vw + 0.5vh) / 2) + 0.25em);
$one-percent: calc(((1vw + 1vh) / 2) + 0.25em);
$two-percent: calc(((2vw + 2vh) / 2) + 0.5em);
$three-percent: calc(((3vw + 3vh) / 2) + 1em);
$four-percent: calc(((4vw + 4vh) / 2) + 1.5em);
$five-percent: calc(((5vw + 5vh) / 2) + 2em);
$six-percent: calc(((6vw + 6vh) / 2) + 2.5em);
$ten-percent: calc(((10vw + 10vh) / 2) + 3em);
$twelve-percent: calc(((12vw + 12vh) / 2) + 5em);
$fourteen-percent: calc(((14vw + 14vh) / 2) + 6em);
$fifteen-percent: calc(((15vw + 15vh) / 2) + 7em);
$twenty-percent: calc(((20vw + 20vh) / 2) + 8em);
$thirty-percent: calc(((30vw + 30vh) / 2) + 10em);
$fifty-percent: calc(((50vw + 50vh) / 2) + 15em);
$seventy-five-percent: calc(((75vw + 75vh) / 2) + 30em);
/*----------------------------------Fonts-----------------------------------*/
$source-code-font: 'Source Code Pro', monospace;
$jetbrains-mono-font: 'JetBrains Mono', monospace;
/*--------------------------------Font-Size---------------------------------*/
$h1-font-size: min(calc(((9.25vh + 9.25vw) / 2) + 12px), 120px);
$h2-font-size: min(calc(((7vh + 7vw) / 2) + 10px), 100px);
$h3-font-size: min(calc(((4vh + 4vw) / 2) + 8px), 80px);
$h4-font-size: min(calc(((3vh + 3vw) / 2) + 6px), 60px);
$h5-font-size: min(calc(((2.5vh + 2.5vw) / 2) + 4px), 40px);
$h6-font-size: min(calc(((2vh + 2vw) / 2) + 3px), 30px);