/*================================-Imports-=================================*/

/*---------------------------Custom-Style-Sheets----------------------------*/
@import "global-variables";
@import "global-mixins";
/*--------------------------------Bootstrap---------------------------------*/

/*==============================-Text-Content-==============================*/

/*---------------------------------Heading----------------------------------*/
h1 {
    font-weight: 300;
    font-size: $h1-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
h2 {
    font-weight: 300;
    font-size: $h2-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
h3 {
    font-weight: 300;
    font-size: $h3-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
h4 {
    font-weight: 300;
    font-size: $h4-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
h5 {
    font-weight: 300;
    font-size: $h5-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
h6 {
    font-weight: 300;
    font-size: $h6-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
/*--------------------------------Area-Text---------------------------------*/
p {
    font-weight: 300;
    font-size: $h6-font-size;
    color: $absolute-black;
    @include basic-margin-padding(0, 0);
}
/*==========================-Universal-Containers-==========================*/
html {
    scroll-behavior: smooth;
    body {
        font-family: $jetbrains-mono-font;
        background-color: $less-smokey-white;
        min-height: 100vh;
        @include basic-margin-padding(0, 0);
        @include flex(center, center, column);
        main {
            width: 100%;
            @include flex(center, center, row);
        }
    }
}
/*================================-Nav-Bar-=================================*/
header {
    height: calc(((8vh + 3.5vw) / 2) + 1em);
    width: 100%;
    top: 0;
    left: 0;
    @include basic-margin-padding(0, 0);
    nav {
        background-color: $charcoal-dust;
        height: calc(((8vh + 3.5vw) / 2) + 1em);
        width: 100%;
        top: 0;
        left: 0;
        #nav-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 100%;
            @include basic-margin-padding(0, 0);
        }
    }
}



#nav-services-dropdown {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h5 {
        color: $pristine-white;
    }
    #services-dropdown-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: $quarter-percent;
        z-index: 1;
        background-color: $charcoal-dust;
        #services-title-with-dropdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: $quarter-percent;
            &:hover {
                cursor: pointer;
            }
        }
        #services-dropdown {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-self: center;
            position: absolute;
            background-color: $charcoal-dust;
            padding: $half-percent;
            &:hover {
                cursor: pointer;
            }
            div {
                width: 100%;
                border-radius: $quarter-percent;
                &:hover {
                    background-color: $white;
                    h5 {
                        color: $charcoal-dust;
                    }
                }
            }
        }
    }
}
.nav-bar-item {
    transition: font-size ease-in-out 0.15s;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: row;
    h4 {
        color: $pristine-white;
        text-align: center;
    }
    &:hover, .nav-bar-item-text {
        font-size: calc(((2.25vh + 2.25vw) / 2) + 0.25em);
    }
}
#hamburger-menu-icon {
    width: $three-percent;
    height: auto;
    transition: width ease-in-out 0.15s;
    &:hover {
        cursor: pointer;
        width: $three-half-percent;
        height: auto;
    }
}
#services-with-caret {
    @include flex(center, center, row);
}
#see-all-services-text {
    text-decoration: underline;
}
.stripe {
    width: 100%;
    background-color: $charcoal-dust;
    padding: $one-percent $zero;
    @include flex(center, center, row);
    color: $pristine-white;

}
img {
    user-select: none;
}
#services-arrow-icon {
    margin-top: $half-percent;
    margin-left: $half-percent;
    @include size($one-half-percent, $one-half-percent);
    height: $two-percent;
    img {
        @include size(100%, 100%);
    }
}
@media screen and (max-width: 1300px) {
    .full-screen-nav {
        #services-arrow-icon {
            margin-top: $half-percent;
            margin-left: $half-percent;
            width: $two-half-percent;
            height: $two-half-percent;
            img {
                @include size(100%, 100%);
            }
        }
        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            overflow: hidden;
            @include flex(center, center, column);
            @include size(100%, 100%);
            #nav-container {
                @include flex(space-around, center, column);
                @include size(100%, 100%);
            }
        }
        #nav-services-dropdown {
            margin-left: $three-percent;
        }
        .hamburger-list-items {
            @include flex(center, center, row);
            width: 100%;
            h4 {
                font-size: $h3-font-size;
                transition: font-size ease-in-out 0.15s;
            }
            &:hover {
                h4 {
                    font-size: $h2-half-font-size;
                }
            }
        }
        #hamburger-menu-icon {
            width: $four-percent;
            &:hover {
                width: $five-percent;
            }
        }
        .services-dropdown-div {
            padding: $zero $one-percent;
        }
    }
}
hr {
    border: $thinnest-border solid $charcoal-dust;
    width: 80%;
    @include basic-margin-padding($zero, $zero);
}
.indented-text {
    text-indent: $two-percent;
}
footer {
    background-color: $charcoal-dust;
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    @include flex(center, center, row);
    margin-top: auto;
    margin-bottom: 0;
    #footer-small-text-section {
        @include size(100%, 100%);
        padding: $half-percent $zero;
        @include flex(center, center, row);
        h6 {
            @include basic-margin-padding(0, 0);
            color: $pristine-white;
        }
        div {
            @include flex(center, center, row);
            @include size(100%, 100%);
            flex: 1;
            padding: $zero $one-percent;
        }
        #footer-left-text-item {
            border-right: $thin-border solid $pristine-white;
        }
    }
}

