<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Schemes</title>
    <style>

    </style>
</head>
<body>
<nav>
    <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</nav>
<section>
    <h1>An Important Title</h1>
    <h2>With a subtitle appended...</h2>
</section>
<div>
    <aside>
        <p>
            Sample text is text which is meant for seeing the different
            styles, colors, and fonts. Sample text is text which is meant for
            seeing the different styles, colors, and fonts. Sample text is
            text which is meant for seeing the different styles, colors, and
            fonts.
        </p>
    </aside>
</div>
<div>

</div>
<footer>
<ul>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>
</footer>
</body>
</html>