<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sigwarth Software</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}">
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}">
    <link rel="icon" href="../static/favicon/sigwarth_software_logo_cropped_transparent.ico"
          th:href="@{/favicon/sigwarth_software_logo_cropped_transparent.ico}">
</head>
<body>
<!--------------------------------Heading------------------------------------>
<header id="nav-bar">
    <!------------------------Nav-Bar------------------------------------>
    <nav>
        <div id="nav-container">
            <div>
                <img id="hamburger-menu-icon"
                     th:src="@{/images/icon/hamburger_menu.svg}"
                     src="../static/images/icon/hamburger_menu.svg"
                     alt="hamburger menu icon">
            </div>
            <div class="hamburger-list-items nav-bar-item">
                <div>
                    <h4 class="nav-bar-item-text">Home</h4>
                </div>
            </div>
            <div class="hamburger-list-items nav-bar-item" id="nav-services-dropdown">
                <div>
                    <h4 class="nav-bar-item-text">Services</h4>
                </div>
                <div>
                    <img id="services-arrow-icon"
                         src="../static/images/icon/arrow/forward_arrow.svg"
                         alt="services arrow icon"
                         th:src="@{/images/icon/arrow/forward_arrow.svg}">
                </div>
            </div>
            <div class="hamburger-list-items nav-bar-item">
                <div>
                    <h4 class="nav-bar-item-text">Projects</h4>
                </div>
            </div>
            <div class="hamburger-list-items nav-bar-item">
                <div>
                    <h4 class="nav-bar-item-text">About</h4>
                </div>
            </div>
            <div class="hamburger-list-items nav-bar-item">
                <div>
                    <h4 class="nav-bar-item-text">Contact</h4>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <div>
            <h1>Sigwarth Software</h1>
            <h2>Sigwarth Software</h2>
            <h3>Sigwarth Software</h3>
            <h4>Sigwarth Software</h4>
            <h5>Sigwarth Software</h5>
            <h6>Sigwarth Software</h6>
            <p>Sigwarth Software</p>
            <code>Sigwarth Software</code>
            <aside>Sigwarth Software</aside>
            <blockquote>Sigwarth Software</blockquote>
            <article>Sigwarth Software</article>
        </div>
    </section>
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js"
        th:src="@{/script/bundle.js}"></script>
<noscript>
    <h1>JavaScript is disabled on your browser</h1>
    <h2>Enable JavaScript to view this page</h2>
</noscript>
</body>
</html>