@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-footer {
    background-color: $charcoal-dust;
    width: 100%;
    bottom: 0;
    left: 0;
    @include flex(center, center, row);
    margin-top: auto;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, $charcoal 1%, $charcoal 9%);
    padding: $quarter-percent 0;

    box-sizing: border-box;
    #footer-small-text-section {
        @include size(100%, 100%);
        padding: $quarter-percent $zero;
        @include flex(center, center, row);
        h6 {
            @include basic-margin-padding(0, 0);
            color: $pristine-white;
        }
        div {
            @include flex(center, center, row);
            @include size(100%, 100%);
            flex: 1;
            padding: $zero $one-percent;
            .footer-item {
                text-align: center;
                @include flex(center, center, row);
            }
        }
        #footer-left-text-item {
            border-right: $thin-border solid $pristine-white;
        }
    }
}

